.page {
    padding: 0 10vw;
    margin-top: 6vh;
    margin-bottom: -20%;
    display: flex;
    justify-content: space-between;
    height: 80vh;
}

.image{
    height: 50vh;
    border-radius: 25px;
}

.content-novelty {
    border-radius: 20px;
    background-color: antiquewhite;
    width: 60%;
    height: 50vh;
}

.content-novelty h1 {
    width: 50%;
    color: black;
    margin-left: 25%;
    margin-top: 3%;
    text-align: center;
}

.content-novelty p {
    margin-top: 10%;
    padding: 0 4vw;
    color: black;
    font-weight: bold;
    text-align: center;
}

.footer-page {
    display: flex;
    justify-content: space-around;
    height: 17vh;
}

.footer-page h3 {
    margin-top: 10vh;
}

.footer-page button {
    height: 35px;
    width: 105px;
    border-radius: 20px;
    border: none;
    background-color: yellowgreen;
    color: white;
    overflow: hidden;
    transition: transform 0.25s;
}

.footer-page button:hover {
    cursor: pointer;
    background: #f96d15;
    color: #000000;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}