header{
    height: 10vh;
    padding: 0 10vw;
    background-color: #F0FFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotype{
    width: 10%;
    height: 20%;
}

header nav{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 10%;
}

header a{
    color: black;
    font-size: x-large;
    font-style: inherit;
    text-decoration: none;
}

header .user{
    width: 4%;
    height: 39%;
    margin-right: -7vw;
}

header .cart{
    width: 3%;
    height: 25%;
    margin-right: -6vw;
}

header a:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.cart:hover{
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.user:hover{
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}